{:project-id "hive-ingestor-rfc"
 :parent "hive-ingestor"
 :description "RFC-series corpus provider for hive-ingestor: local rsync-mirror source, registered as an IAddon."
 :license "Proprietary"
 :language :clojure
 :tags ["addon" "ingestor" "corpus" "rfc"]}
